#!/usr/bin/make -f
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
%:
	dh $@ --buildsystem=cmake+ninja

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTING=OFF -DVENDOR= -DCMAKE_COMPILE_WARNING_AS_ERROR=OFF

override_dh_auto_test:
	# Upstream registers its tests only for Debug; run them in a separate build.
